# Python
__pycache__/
*.py[cod]
*$py.class

# Entornos virtuales
.env
.venv
env/
venv/
ENV/

# Base de datos (¡Muy importante no subir esto!)
*.db
*.sqlite3

# IDEs
.vscode/
.idea/

# Logs
*.log

*.dev.md
